<section id="heading" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
  <div class="container">	
		<div class="heading-section" fxLayout="column" fxLayoutAlign="center center">
    		<div [class.animated]="isHeading" [class.fadeInLeft]="isHeading">
	        <h1 [ngStyle.xs]="{'font-size': '32px'}" [ngStyle.sm]="{'font-size': '42px'}">Continous Business Need</h1>
	        </div>
	        <div [class.animated]="isSubheading" [class.fadeInRight]="isSubheading">
	        <h3 [ngStyle.xs]="{'font-size': '15px'}" [ngStyle.sm]="{'font-size': '18px'}">creating a versatile tool capable of automating most of the complexities of a Continuous Business Need revalidation process for multiple and diverse applications.</h3>
	        </div>
	        <div fxLayout="row" [class.animated]="isHeadingBtn" [class.fadeIn]="isHeadingBtn" [class.heading-btn]="isHeadingBtn">
        		<!-- <a class="heading-button-left" mat-flat-button color="accent">Action</a>
		        <a class="heading-button-right" mat-stroked-button color="accent">Action</a> -->
	    	</div>
	    </div>
   </div>
</section>
