<mat-toolbar color="primary">

    <button mat-button routerLink="/header" routerLinkActive="active">
    <mat-icon>home</mat-icon>
        {{title}}</button>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/products">Products</button>
        <button mat-button routerLink="/dashboard">Dashboard</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar>
  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/products">Products</button>
    <button mat-menu-item routerLink="/dashboard">Dashboard</button>
    <!--<button mat-menu-item>Help</button>-->
  </mat-menu>

  
<div class="container">

  <div ng2-carouselamos class="slides-wrapper"
      [items]="items"
      [width]= "1300"
      [$prev]="prev"
      [$next]="next"
      [$item]="item">
  </div>

  <ng-template #prev>
     <img src ="assets/img/last-track-left-arrow.png" id="left">
    <!-- <button mat-stroked-button color="primary" id="left">Prev</button> -->
  </ng-template>

  <ng-template #next>
      <img src ="assets/img/skip-track.png" id="right">

    <!-- <button mat-stroked-button color="primary" id="right">Next</button> -->
  </ng-template>

  <ng-template #item let-item let-i="index">
   <div class="items">
     <img src="{{ item.name }}">
   </div>
  </ng-template>
</div>
