<div class="container" >
  <mat-card class="pics">
   <h1>Login</h1>
   <br>
  <form  (ngSubmit)="login()">

      <div class="example-container">
          <mat-form-field>
            <input matInput placeholder="Email">
          </mat-form-field>
          <br>
          <mat-form-field>
              <input matInput placeholder="password">
          </mat-form-field>
          <br><br>
          <button class="login" [disabled]="true" type="submit" mat-raised-button color="primary">Login</button>
        </div>

  <!--
                  <mat-form-field>
            <mat-select placeholder="Select">
              <mat-option value="option">Option</mat-option>
              <mat-option value="option">Option1</mat-option>
              <mat-option value="option">Option2</mat-option>
            </mat-select>
          </mat-form-field>
      <mat-form-field appearance="outline" class="id">
          <mat-label>Email-Id</mat-label>
          <input
           matInput
           placeholder="Email"
           name="emaiId"
           required
          />
          <mat-error
           *ngIf="true"
          >
           Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="true">
           Email is <strong>required</strong>
          </mat-error>
         </mat-form-field>
        -->
  </form>
 </mat-card>
<br><br>
 <Label class="newJoinee"> Have you registered yet or not ?</Label>
 <br><br>
 <button class="register" mat-stroked-button color="primary" [routerLink]="['/signup']">Register</button>
</div>