<div class="container" >
  <mat-card class="pics">
   <h1>Login</h1>
  <form  (ngSubmit)="login()">
      <mat-form-field appearance="outline" class="id">
          <mat-label>Email-Id</mat-label>
          <input
           matInput
           placeholder="Email"
           name="emaiId"
           required
          />
          <mat-error
           *ngIf="true"
          >
           Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="true">
           Email is <strong>required</strong>
          </mat-error>
         </mat-form-field>

  </form>
 </mat-card>
  </div>
