.example-card {
  width: 70%;
 
  box-shadow: 10px 10px 10px black;
  border-radius: 50px 50px 50px 50px;
  border-radius:40px;
  opacity: 0.8;
  background-color: #88b3f7;
}
.container{
  margin:0px;
  
  position: absolute;
  padding-left: 230px;
  background-color:  #f4f4f4;
}

mat-form-field{
  width: 300px;

}
.newJoinee{
  margin-left: 300px;
}
.register{
  margin-left: 350px;
}
    