// .example-card {
//   // width: 40%;
//   width: 80%;
//   border: 15px;
// }
.container{
   margin-top: 5em;

}

.seperator {
  width: 100%;
  padding: 3px;
}

.seperator > * {
  width: 80%;
}

button.register {
  width: 100px;
  margin-left: 40vw;
}

.newJoinee {

  margin-left: 35%;
  font-size: 1.6vw;

}

// mat-form-field{
//    width: 300px;


// }

